section.accordion
  .accordion__content
    +buttonaccordion('Description')
    .accordion__panel
        h2 Information Tour Plan Gallery Reviews Relaxing Beach & Culture – 11 Days
        ul.includes
          li #[span Trip Style :] Private or Shared Available Tours  
          li #[span Duration :] 11 days and 10 Nights
          li #[span Departures :] Daily 
          li #[span Highlights :] The Colonial Lima city with a local Guide, Sacred Valley of Cusco, Machu Picchu, Cusco city tour and Saqsaywaman Fortress with Picnic Lunch, Romantic Rooms, and Dinners, ending the journey at the relaxing  Mancora Beach. Customize This Journey | If you would like to customize this itinerary and create a Tailor Made Journey just for you and your companions, click here to inquire, or speak to your tra
    +buttonaccordion('Include && no Includes')
    .accordion__panel
      h2 Includes
      ul.includes 
        li 10 nights in romantic accommodations of your choice, including local taxes, breakfast, and private bathrooms
        li Superior romantic Rooms
        li Romantic Amenities throughout the tour.
        li All indicated transfers in private service
        li Romantic private Farewell dinner in Cusco, at San Cristobal View Point
      h2 No includes
      ul.noincludes 
        li International flights and airport taxes
        li Domestic flights
        li Romantic Amenities throughout the tour.
        li Romantic Amenities throughout the tour.
        li Romantic private Farewell dinner in Cusco, at San Cristobal View Point
    +buttonaccordion('Tour plan')
    .accordion__panel
      .tour-plan__line__vertical
      .tour-plan
        .day
          .day__header
            h4.day__title Day 1
            span.day__dote
            span.day__line
          .day__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloribus hic vero optio magni recusandae sed quisquam quidem sit omnis repudiandae, esse perferendis aperiam aliquam quis expedita quia, voluptatum sequi?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloribus hic vero optio magni recusandae sed quisquam quidem sit omnis repudiandae, esse perferendis aperiam aliquam quis expedita quia, voluptatum sequi?
        .day
          .day__header
            h4.day__title Day 2
            span.day__dote
            span.day__line
          .day__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloribus hic vero optio magni recusandae sed quisquam quidem sit omnis repudiandae, esse perferendis aperiam aliquam quis expedita quia, voluptatum sequi?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloribus hic vero optio magni recusandae sed quisquam quidem sit omnis repudiandae, esse perferendis aperiam aliquam quis expedita quia, voluptatum sequi?
        .day
          .day__header
            h4.day__title Day 3
            span.day__dote
            span.day__line
          .day__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloribus hic vero optio magni recusandae sed quisquam quidem sit omnis repudiandae, esse perferendis aperiam aliquam quis expedita quia, voluptatum sequi?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloribus hic vero optio magni recusandae sed quisquam quidem sit omnis repudiandae, esse perferendis aperiam aliquam quis expedita quia, voluptatum sequi?
        .day
          .day__header
            h4.day__title Day 4
            span.day__dote
            span.day__line
          .day__content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloribus hic vero optio magni recusandae sed quisquam quidem sit omnis repudiandae, esse perferendis aperiam aliquam quis expedita quia, voluptatum sequi?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloribus hic vero optio magni recusandae sed quisquam quidem sit omnis repudiandae, esse perferendis aperiam aliquam quis expedita quia, voluptatum sequi?
    +buttonaccordion('Gallery')
    .accordion__panel
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis dolor est vero debitis ullam ratione. Minus laboriosam dicta, optio odit fuga ducimus dolor. Perferendis esse vel quod fugit obcaecati numquam.
  sidebar.itinerary-sidebar
    +title('Peru Travel Blog')
    .itinerary-sidebar__blog
      +cardblog('Our Grades Of Exclusivity', 'blog-sidebar1.jpg')
      +cardblog('Our Grades Of Exclusivity', 'blog-sidebar2.jpg')
      +cardblog('Our Grades Of Exclusivity', 'blog-sidebar3.jpg')
    +title('Write us your doubts')
    +formsimple(2)
    .itinerary-sidebar__logo
    +title('Guest Testimonials') 
    img(src=rutaImg('content-tripadvisor.png'), alt="content-tripadvisor.png")