section
  button(class="accordion") Section 1
  .panel
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis dolor est vero debitis ullam ratione. Minus laboriosam dicta, optio odit fuga ducimus dolor. Perferendis esse vel quod fugit obcaecati numquam.
  button(class="accordion") Section 1
  .panel
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis dolor est vero debitis ullam ratione. Minus laboriosam dicta, optio odit fuga ducimus dolor. Perferendis esse vel quod fugit obcaecati numquam.
  button(class="accordion") Section 1
  .panel
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis dolor est vero debitis ullam ratione. Minus laboriosam dicta, optio odit fuga ducimus dolor. Perferendis esse vel quod fugit obcaecati numquam.

