section.blog.container-center
  +title('Blog','Our blog')
  
  +cardblog('Exploring The Lesser Known Regions Of Peru, Chachapoyas And The Ruins Of Kuelap',
  'blog-1.jpg'
  )
  +cardblog('Our Grades Of Exclusivity', 'blog-2.jpg'
  )
  +cardblog('Exploring The Lesser Known Regions Of Peru, Chachapoyas And The Ruins Of Kuelap',
  'blog-3.jpg'
  )
  +cardblog('Our Grades Of Exclusivity', 'blog-4.jpg'
  )
  +cardblog('Exploring The Lesser Known Regions Of Peru, Chachapoyas And The Ruins Of Kuelap',
  'blog-5.jpg'
  )
  +cardblog('Our Grades Of Exclusivity', 'blog-6.jpg'
  )