section.blogoferta
  .blogoferta__content.container-center
    .blogoferta-blog
      +title('Blog','our important entries',type=1)
      +target_blog('Montaña de 7 colores','Pasando a la década de 1960, el Lorem Ipsum fue popularizado por el fabricante de tipografía Letraset, que lo utilizó en sus campañas publicitarias. Letraset ofrecía páginas de Lorem Ipsum como hojas de transferencia, que fueron ampliamente utilizadas en la era anterior a','view-peru-post1.jpg',"#")

      +target_blog('Montaña de 7 colores','Pasando a la década de 1960, el Lorem Ipsum fue popularizado por el fabricante de tipografía Letraset, que lo utilizó en sus campañas publicitarias. Letraset ofrecía páginas de Lorem Ipsum como hojas de transferencia, que fueron ampliamente utilizadas en la era anterior a','peru luxury tours.jpg',"#")
    .blogoferta-oferta
      .blogofeta__offertitle
        +title('Offer','Christmas offer',type=1)
      .blogoferta__offercontent
        a(href='#')    
          img(src=rutaImg('montaña-humatay.png'), alt="")
        a(href="#")
          img(src=rutaImg('montaña-humatay.png'), alt="")