section.callus
  .callus-content
    .callus-section
      img(src=rutaImg('logo-tripadvisor.png'), alt="logo-tripadvisor")
      .callus-section__content
        h2.title3 Christmas in Peru
        h4 Read More 
    .callus-section
      img(src=rutaImg('phone-callus-view-peru.png'), alt="phone-callus-view-peru")
      .callus-section__content
        h2.title3 Call us
        a(href="http://") + 1 888 3619 895
        a(href="http://") + 44 800 046 5350
        a(href="http://") + 64 6 880 0026
        a(href="http://") + 61 8 7200 0114
    .callus-section
      img(src=rutaImg('email-callus.view-peru.png'), alt="email-callus.view-peru")
      .callus-section__content
        h2.title3 Email us
        h4 Send us a message