section.formcontact.container
  +title('Cuentanos sobre tus planes de viaje del perú','Canct us')
  .formcontact__content
    .formcontact__left
      h3 Llamar a un especialista
      h4 Estados Unidos
      a(href="+18883619895") +1 888 3619 895
      h4 Reino Unido
      a(href="h+448000465350") +44 800 046 5350
      h4 Nueva Zelanda
      a(href="+6468800026") +64 6 880 0026
      h4 Australia
      a(href="+61872000114") +61 8 7200 0114
      br
      span
      h3 Horas de oficina
      h4 9:00 am - 6:00 pm (UTC / GMT -5)
    .formcontact__right
      +formsimple
