section.contact   
  .contact__left.formcontact__left
    h3 Get In Touch
    p.text Please indicate what tour you are interested in and we will send you all of the information you requested.
    h3 Llamar a un especialista
    h4 Estados Unidos
    a(href="http://") +1 888 3619 895
    h4 Reino Unido
    a(href="http://") +44 800 046 5350
    h4 Nueva Zelanda
    a(href="http://") +64 6 880 0026
    h4 Australia
    a(href="http://") +61 8 7200 0114
    br
    span
    h3 Horas de oficina
    h4 9:00 am - 6:00 pm (UTC / GMT -5)
  .contact__right
    form.form.contact__form(action="#")
      input(type="text" placeholder="Full name")
      input(type="text" placeholder="E-mail address")
      input(type="text" placeholder="N° People")
      input(type="text" placeholder="Contry")
      label.text.contact__label(for="") When would you like to go?
      .form__selections
        select
          option(value="item__select") Year
          option(value="item") 2019
          option(value="item") 2020
          option(value="item") 2021
          option(value="item") 2022
          option(value="item") 2023
        select
          option(value="item__select")  Month
          option(value="1") Jan
          option(value="2") Feb
          option(value="3") Mar
          option(value="4") Apr
          option(value="5") May
          option(value="6") Jun
          option(value="7") Jul
          option(value="8") Aug
          option(value="9") Sep
          option(value="10") Oct
          option(value="11") Nov
          option(value="12") Dec
        select
          option(value="item__select") Day
          option(value="1") 1
          option(value="2") 2
          option(value="3") 3
          option(value="4") 4
          option(value="5") 5
          option(value="6") 6
          option(value="7") 7
          option(value="8") 8
          option(value="9") 9
          option(value="10") 10
          option(value="11") 11
          option(value="12") 12
          option(value="13") 13
          option(value="14") 14
          option(value="15") 15
          option(value="16") 16
          option(value="17") 17
          option(value="18") 18
          option(value="19") 19
          option(value="20") 20
          option(value="21") 21
          option(value="22") 22
          option(value="23") 23
          option(value="24") 24
          option(value="25") 25
          option(value="26") 26
          option(value="27") 27
          option(value="28") 28
          option(value="29") 29
          option(value="30") 30
          option(value="31") 31

      input.form__inputfull(type="text" placeholder="Mobile/Whatsapp")
      label.text.contact__label(for="") Select Tour
      select.form__inputfull
        option(value="Tour") Tour
        option(value="1") Classic Peru Tour – 7 Days
        option(value="2") Luxury Adventure – 12 Days
        option(value="3") Machu Picchu Standard – 5 Days
        option(value="4") Peru Romance – 7 Days
        option(value="5") Relaxation and Wildlife – 14 Days
        option(value="6") Relaxing Beach & Culture – 11 Days
        option(value="7") Relaxing Peru Tour – 11 Days
        option(value="8") Romantic Machu Picchu – 5 Days
        option(value="9") The Best of Peru – 13 Days

      textarea.form__inputfull(name="", cols="30", rows='5' placeholder="Write your message")
      input.form__inputfull(type="submit" value="Send")