section.letsyourplan.container
  +title('Lets Plan Your Peru Trip','Nuestras entradas importantes')
  p.text Travel the right way, by contacting View Peru regarding tours in Peru and Bolivia, simply e-mail at info@view-peru.com or fill out the "Enquire Now" form, Please indicate what tour you are interested in and we will send you all of the information you requested.Please check your inbox within the next 24 hours (also check your Spam or Junk mailboxes just in case. For all other inquiries please do not hesitate to contact us, we are happy to help with everything.
  .letsyourplan__buttons
    +button("contact.html",text='Inquire Now')
    +button("contact.html",text='Customize This Trip For Me')
  
