section.luxury.container-center
  .luxury__content
    +title('Peru Luxury Travel Packages')
    ul.luxury__list
      li.luxury__item.text We have the most reasonable prices for any trip, guaranteed!
      li.luxury__item.text We are highly recommended and the winner of the Certificate of 
      li.luxury__item.text All of our tours are fully customizable
      li.luxury__item.text Daily Departures.
      li.luxury__item.text We are the Only High-End Camping Tours Operator in Peru.
      li.luxury__item.text Our tours depart 365 days a year

    +title('Tailor Made Peru Tours')
    p.text We specialize in cultural, adventure, glamping and ecotourism tours offering a wide variety of ways to travel – from Abordable tours to Custom, exclusive Peru luxury travelpackages, We offer a hard working and experienced call center toll-free from the US, UK, Canada, and worldwide.
  img.luxury__img(src=rutaImg('experience-items-min.png'), alt="experience-items-min.png")
  p.text View Peru is the only tour company that guarantees fixed departure tours, even if there is only two passenger! There will be no cancellations and no disappointments. We have full-time local travel professionals who work through your tour every step of the way – making sure that every aspect of your stay in our beautiful home is not just an encounter with a magnificent culture but a personable service that will make you feel at home as well. Travel with View Peru and you will be sure to have an unforgettable vacation that will make you want to return to the beautiful lands of Peru and Bolivia.