section.post
  .post__section
    .post__content
      +title('Christmas in Peru')
      p.text It starts as a passing word mentioned by a coworker, quickly spreading to local billboards and radio stations, and finally, you know its that time of year when you hear the jingle jingle outside every supermarket, Christmas is coming.  As “the most wonderful time of the year”, its no wonder families around the world choose to celebrate this festive occasion with their loved ones. Here we will go over a few of the differences Santa might see as he visits the country of Peru each year. 
      h2.title2 Summer Santa
      p.text For most of Peru, there is no such thing as a “White Christmas”, as Christmas arrives only a few days after celebrating the first day of summer.  Children in Peru can enjoy their gifts all day every day without hindrance as Santa arrives each year during the school seasons summer break.
      img(src=rutaImg('post-view-peru.jpg'), alt="post-view-peru")
      h2.title2 Trees are coming to town
      p.text When you think of Christmas, one of the first things that come to mind are Christmas Trees, housing a years worth of good deeds under their branches.  While not traditionally a staple of the years festivities, the Christmas Tree has been increasing in popularity as a popular part of the season due to influence from countries such as the United States or Europe.  Expect a brightly colored assortment of hand crafted decorations vibrant in local culture. 
      h2.title2 On the night before Christmas
      p.text Traditionally December 25th is the big day when it comes to old Saint Nicks time to shine, in Peru the big day(or night in this case), is Christmas Eve.  At 10pm Peruvians attend a church service known as a Rooster Mass, named as such to depict the Rooster said to have crowed the night Jesus was born.  Families then return home to share in a giant dinner complete with turkey and tamales and start opening their presents. 
      h2.title2 And now for a not so silent night
      p.text Once all the impressive fireworks displays have ended and the presents are opened, its time for the kids to go to bed, as Christmas eve is a time to get your groove on since many Peruvian adult family members tend to keep the party going until early hours in the morning.  In Peru, December 25th is spent as a day enjoying family and newly opened presents, not to mention recovering from the nights festivities.  
      h2.title2 And now for a not so silent night
      p.text Christmas cheer can be found throughout the country of Peru, but there are a few places that go above and beyond.  In the city of Cusco, in effort to provide some love to those less fortunate, the locals set up stands all across the city providing Hot Chocolate to anyone looking for something hot and delicious to sip on.  For those not enjoying the crowds found in Cusco, expect a slightly more laid back cultural vibe in Arequipa, where you can view the many parades or join in on the many parties or events you will find around town. 
      .compartir
        img(src=rutaImg('network-socials.jpg'), alt="network-socials")
    sidebar.post__sidebar
      +title('Our Highest Interests')
      .post-sidebar
        .post-sidebar__post
          h2.title2 Responsible Tourism
          img(src=rutaImg('view-peru-post1.jpg'), alt="view-peru-post1")
          p.text We’re proud to partner with hotels and local businesses who use tourism as a means for providing training, jobs and opportunities for local communities, who take steps to minimise their environmental impact and who understand the necessity of conserving natural and historical features for maintaining a tourism-based economy.
        .post-sidebar__post
          h2.title2 View Peru Philanthropy
          img(src=rutaImg('view-peru-post2.jpg'), alt="view-peru-post1")
          p.text View Peru & Signatures Promote the non profit NGO Sonco Wasi. We Include visits to our project in action to experience with our children.
      +title('Peru Travel Blog')
      .itinerary-sidebar__blog
        +cardblog('Our Grades Of Exclusivity', 'blog-sidebar1.jpg')
        +cardblog('Our Grades Of Exclusivity', 'blog-sidebar2.jpg')
        +cardblog('Our Grades Of Exclusivity', 'blog-sidebar3.jpg')

