section.testimonies
  +title('Testimonies','testimonials from our customers')
  .testimonies__banner
    img.testimonies__img(src=rutaImg('mancora-1.jpg'), alt="'mancora-1.jpg")
    .testimonies__capa.capa
    .testimonies__videos
      .testimonies__video
      .testimonies__video
      .testimonies__video
    .testimonies__btn
      +button('#','View More')