section.testimonies
  +title('Testimonies','testimonials from our customers')
  .testimonies__banner
    img.testimonies__img(src=rutaImg('mancora-1.jpg'), alt="'mancora-1.jpg")
    .testimonies__capa.capa
    .testimonies__videos
      video(src="./video/Peru Lifetime Experiences by View Peru & Signatures.mp4"  poster=rutaImg("vistaprevia.jpg") controls)
      video(src="./video/Peru Lifetime Experiences by View Peru & Signatures.mp4"  poster=rutaImg("vistaprevia.jpg") controls)
      video(src="./video/Peru Lifetime Experiences by View Peru & Signatures.mp4"  poster=rutaImg("vistaprevia.jpg") controls)
    .testimonies__btn
      +button('#','View More')