.accordion {
  @include container();
  display: grid;
  grid-gap: 5px;
  @include from(l) {
    grid-template-columns: 75% 1fr;
  }
}

.itinerary-sidebar {
  margin: auto;
  &__blog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__tripadvisor{
    text-align: center;
  }
  .cardblog-sidebar {
    max-width: 250px;
  }
  .cardblog__title--sidebar {
    font-size: 1.1em;
  }
  .design-title {
    .title1 {
      margin: 0;
      font-size: 1.5em;
    }
  }
}

.accordion__button {
  background-color: #eee;
  color: $lightblue;
  cursor: pointer;
  padding: 0.6em 1em;
  font-size: 1em;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: $lightwhite;

  @at-root .active,
    &:hover {
    background-color: $lightblue;
    color: white;
  }

  .fa.button__icondesactivado {
    display: none;
  }
  .fa.button__iconactivado {
    display: block;
  }

  &.active{

    .fa.button__icondesactivado {
      display: block;
    }
    .fa.button__iconactivado {
      display: none;
    }
  }

}
.accordion__panel {
  --margin-left: 50px;
  padding: 0 18px;
  position: relative;
  display: none;

  &:nth-child(1) {
    display: block;
  }
}

// Accordion description general
.accordion__content {
  padding-top: 5px;
  h2 {
    color: $lightblue;
    font-style: italic;
    font-weight: initial;
    font-size: 1em;
  }
  .includes li {
    list-style-image: url(ruta_img("check.png"));
  }

  li {
    margin: 4px;
    font-family: $fontlato;
    font-style: italic;
    color: $colortext;
    span {
      color: $black;
      font-weight: bold;
    }
  }
  .noincludes li {
    list-style-image: url(ruta_img("noincludes.png"));
  }
}

// Design tour plan
.tour-plan {
  &__line__vertical {
    border-left: 1.8px solid $colortext;
    margin-left: var(--margin-left);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

.day {
  &__header {
    display: flex;
    align-items: center;
  }
  &__content {
    margin-left: var(--margin-left);
    padding-left: 5px;
    p {
      @include text;
      font-size: 1em;
    }
  }
  &__title {
    font-size: 0.8em;
  }

  &__dote {
    height: 12px;
    width: 12px;
    display: flex;
    background-color: $lightblue;
    border-radius: 50%;
    margin-left: 10px;
  }
  &__line {
    height: 1px;
    display: block;
    width: 80%;
    background-color: $colortext;
  }
}
