.formcontact {
  flex-direction: column;
  &__content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__right{
    width: 100%;
  }

  &__left {
    text-align: center;
    margin-right: 20px;
    h4 {
      color: $colortitle;
      font-family: $fontlato;
      font-style: italic;
      font-weight: lighter;
      font-size: 1.3em;
    }

    h3 {
      color: $black;
      font-style: italic;
    }
    
    h3,
    h4 {
      margin: 15px 0;
    }
    a {
      color: $lightblue;
    }
  }
  
  @include from(l) {
    &__left,
    &__right {
      flex: 1;
    }
  }
}

.form {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 10px;
  input,
  textarea {
    width: 100%;
    border: 1.8px solid $lightblue;
    border-radius: 28px;
    padding: 0.6em;
    background-color: white;
    margin-bottom: 5px;
    font-family: $fontlato;
    font-style: italic;
    font-size: 1em;
    color: gray;
  }
  [type="submit"] {
    color: white;
    background-color: $lightblue;
    &:hover{
       background-color: rgba(36, 0136, 255, .8);
      //  color: white;
    }
  }
}
