.header-principal {
  height: $heightheader;
  background-color: $black;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  z-index: 100;
  display: grid;
  @include from(l) {
    position: fixed;
    background-color: $trasparent;
  }
}

.nav {
  justify-content: space-between;
  align-items: center;
  &__hamburger {
    @include hamburger($width: 30px);
    @include from(l) {
      display: none;
    }
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $black;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: $heightheader;
  transform: translateX(-1000px);

  &__link {
    margin: 0;
    text-align: center;
    padding: $padding;
  }
  &__text {
    color: $lightwhite;
    padding: $padding;
    &:hover{
      color: $lightblue;
    }
  }

  // menu child
  &__child__link {
    position: relative;
    &:hover > ul {
      display: block;
      padding: 1em 0;
      @include from(l) {
        background-color: $trasparent;
        position: absolute;
        width: 200px;
        border: 1px solid $lightwhite;
        top:30px;
        .menu__link{
          padding:  .3em;
          text-align: center;
        }
        .menu__text{
          white-space: pre-wrap;
          padding:  1em 0;
        }
      }
    }
    &:hover > a{
      color: $lightblue;
    }
  }

  &__child {
    color: $lightwhite;
    list-style: none;
    padding: 0;
    background-color: #333;
    display: none;
    

  }

  @include from(l) {
    position: relative;
    flex-direction: row;
    transform: translateX(0);
    background-color: $trasparent;

    top: 0;
    &__link {
      padding: 0;
    }
  }
  &.activo {
    transition: transform 0.3s;
    transform: translateX(0);
  }
}

.nav__logo {
  font-family: $font;
  font-size: 2em;
  color: $lightwhite;
  &:hover {
    text-decoration: none;
  }
}
