.itinerary {
  display: grid;
  grid-gap: 5px;
  @include from(l) {
    grid-template-columns: 75% 1fr;
  }
}

.accordion__button {
  background-color: #eee;
  color: $lightblue;
  cursor: pointer;
  padding: 0.6em 1em;
  font-size: 1em;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: $lightwhite;

  @at-root .active,
    &:hover {
    background-color: $lightblue;
    color: white;
  }

  .fa.button__icondesactivado {
    display: none;
  }
  .fa.button__iconactivado {
    display: block;
  }

  &.active {
    .fa.button__icondesactivado {
      display: block;
    }
    .fa.button__iconactivado {
      display: none;
    }
  }
}
