.letsyourplan {
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  &__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
}
