.testimonies {
  &__banner {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__videos {
    
    width: 100%;
    padding: 0 15px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    grid-gap: 20px;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
    video {
      width: 100%;

      @include to(l) {
        &:nth-child(3) {
          display: none;
        }
      }
      @include to(m) {
        &:nth-child(1) {
          display: none;
        }
      }
    }
  }
  &__video {

    @include to(l) {
      &:nth-child(1),
      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__btn {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20%;
  }
}
// En esta hora me canse asi que escribo hasta que me aburre y de echo ya me aburri jajajaj si lees eres un jil Bueno a trabajar
