
// Function for tura img
@function ruta_img($img){
  @return './../img/#{$img}';
}


// estyles text
@mixin text {
  color: $colortext;
  font-family: $fontlato;
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.3em;
  white-space: pre-line;
  letter-spacing: 0.06em;
}