extends Templates/template
append titles
  title About us Honeymoon
append body
  include Molecules/menu
  +banner('About us', 'banner_aboutus_view_peru.jpg')
  include Organisms/aboutus
  //- include Organisms/aboutu
  include Organisms/letsyourplan
  include Organisms/supor
  include Organisms/footer
append scripts  
  script(src="./js/index.js")