extends Templates/template
append body
  include Molecules/menu
  include Organisms/bannerblog
  include Organisms/blog
  include Organisms/letsyourplan
  include Organisms/supor

  
  include Organisms/footer
append scripts  
  script(src="./js/index.js")