extends Templates/template
append body
  include Molecules/menu
  include Organisms/bannercontact
  include Organisms/contactform
  include Organisms/mapa
  
  include Organisms/footer
append scripts  
  script(src="./js/index.js")  