extends Templates/template
append titles
  title Contact us
  
append body
  include Molecules/menu
  +banner('Contact us', 'guest-testimonials-min.jpg')
  include Organisms/contactform
  include Organisms/mapa
  
  include Organisms/footer
append scripts  
  script(src="./js/index.js")  