extends Templates/index
append body
  
  include Molecules/menu
  include Organisms/slider
  include Organisms/itineraries
  include Organisms/bogoferta
  include Organisms/letsyourplan
  include Organisms/whyus
  include Organisms/testimonies
  
append scripts  
  script(src="./js/index.js")      