extends Templates/template
append titles
  title Peru Honeymoon Tours
append body
  
  include Molecules/menu
  include Organisms/slider
  include Organisms/itineraries
  include Organisms/bogoffer
  include Organisms/letsyourplan
  include Organisms/whyus
  include Organisms/testimonies
  include Organisms/contact
  include Organisms/blog
  include Organisms/luxury
  include Organisms/supor
  include Organisms/footer
  
append scripts  
  script(src="./js/index.js")      