extends Templates/index
append body
  
  include Molecules/menu
  include Organisms/slider
  include Organisms/itineraries
  include Organisms/bogoferta
  include Organisms/letsyourplan
  include Organisms/whyus
  section.container
        .contanier-content
          h1.Hola mundo
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur, ratione ipsam doloremque eum voluptate molestiae nemo hic assumenda dicta eos illum cupiditate, blanditiis quas delectus obcaecati, laboriosam aspernatur aperiam.
append scripts  
  script(src="./js/index.js")      