extends Templates/index
append body
  include Molecules/menu
  include Organisms/banner
  include Organisms/accordionsidebar
  include Organisms/itineraries
  include Organisms/letsyourplan
  
  
  include Organisms/footer
append scripts  
  script(src="./js/index.js")  