extends Templates/template
append titles
  title Itineararies
append body
  include Molecules/menu
  +banner('Relaxing Beach & Culture – 11 Days Peru Culture','culturetours.jpg')
  include Organisms/itinerary
  include Organisms/itineraries
  include Organisms/letsyourplan
  include Organisms/callus
  
  
  include Organisms/footer
append scripts  
  script(src="./js/index.js")  