extends Templates/template
append titles
  title Our company
append body
  include Molecules/menu
  +banner('Our company', 'banner-our-company-view-peru.jpg')
  include Organisms/ourcompany

  include Organisms/letsyourplan
  include Organisms/callus
  include Organisms/itineraries
  include Organisms/supor
  include Organisms/footer
append scripts  
  script(src="./js/index.js")  