extends Templates/template
append body
  include Molecules/menu
  include Organisms/bannercompany
  include Organisms/ourcompany
  //- include Organisms/accordionsidebar
  //- include Organisms/itineraries
  include Organisms/letsyourplan
  include Organisms/supor
  include Organisms/footer
append scripts  
  script(src="./js/index.js")  