.accordionitinerary
  .accordionitinerary__item
    a.accordionitinerary__text(href="#description")
      i.fa.fa-pencil
      span Description
      i.fa.fa-plus-square
  .accordionitinerary__content#description
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem voluptates dolorem animi magni placeat quae consequuntur et exercitationem illum sapiente. Possimus animi sapiente quisquam deleniti temporibus obcaecati odio architecto rem.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsam necessitatibus recusandae. Quo et dolorum dolore saepe fugiat exercitationem at, sint repellat accusamus delectus officiis eligendi placeat hic culpa fugit!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis adipisci, rerum velit dolore ea libero ut sapiente. Nulla, dolor fugiat, asperiores minus ab sit quo iste, non recusandae aperiam ullam?
  .accordionitinerary__item
    a.accordionitinerary__text(href="#includes")
      i.fa.fa-pencil
      span Includes && No includes
      i.fa.fa-plus-square


  .accordionitinerary__content#includes
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem voluptates dolorem animi magni placeat quae consequuntur et exercitationem illum sapiente. Possimus animi sapiente quisquam deleniti temporibus obcaecati odio architecto rem.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsam necessitatibus recusandae. Quo et dolorum dolore saepe fugiat exercitationem at, sint repellat accusamus delectus officiis eligendi placeat hic culpa fugit!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis adipisci, rerum velit dolore ea libero ut sapiente. Nulla, dolor fugiat, asperiores minus ab sit quo iste, non 
  .accordionitinerary__item
    a.accordionitinerary__text(href="#tourplan")
      i.fa.fa-pencil
      span Tour Plan
      i.fa.fa-plus-square
  .accordionitinerary__content#tourplan
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem voluptates dolorem animi magni placeat quae consequuntur et exercitationem illum sapiente. Possimus animi sapiente quisquam deleniti temporibus obcaecati odio architecto rem.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsam necessitatibus recusandae. Quo et dolorum dolore saepe fugiat exercitationem at, sint repellat accusamus delectus officiis eligendi placeat hic culpa fugit!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis adipisci, rerum velit dolore ea libero ut sapiente. Nulla, dolor fugiat, asperiores minus ab sit quo iste, non 
  .accordionitinerary__item
    a.accordionitinerary__text(href="#gallery")
      i.fa.fa-pencil
      span Gallery
      i.fa.fa-plus-square
  .accordionitinerary__content#gallery
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem voluptates dolorem animi magni placeat quae consequuntur et exercitationem illum sapiente. Possimus animi sapiente quisquam deleniti temporibus obcaecati odio architecto rem.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsam necessitatibus recusandae. Quo et dolorum dolore saepe fugiat exercitationem at, sint repellat accusamus delectus officiis eligendi placeat hic culpa fugit!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis adipisci, rerum velit dolore ea libero ut sapiente. Nulla, dolor fugiat, asperiores minus ab sit quo iste, non 