sidebar.itinerary-sidebar
  +title('Peru Travel Blog')
  .itinerary-sidebar__blog
    +cardblog('Our Grades Of Exclusivity', 'blog-sidebar1.jpg')
    +cardblog('Our Grades Of Exclusivity', 'blog-sidebar2.jpg')
    +cardblog('Our Grades Of Exclusivity', 'blog-sidebar3.jpg')
  +title('Write us your doubts')
  +formsimple(2)
  
  +title('Guest Testimonials')
  .itinerary-sidebar__tripadvisor
    img(src=rutaImg('content-tripadvisor.png'), alt="content-tripadvisor.png")