ul.menu
  li.menu__link
    a.menu__text(href="./") Home
  li.menu__link
    a.menu__text(href="itinerary.html") Tours in peru
  li.menu__link
    a.menu__text(href="about-us.html") About us
  li.menu__link
    a.menu__text(href="blog.html") Blog
  li.menu__link
    a.menu__text(href="contact.html") Contact us
    