ul.menu
  li.menu__link
    a.menu__text(href="http://") Home
  li.menu__link
    a.menu__text(href="http://") Tours in peru
  li.menu__link
    a.menu__text(href="http://") About us
  li.menu__link
    a.menu__text(href="http://") Blog
  li.menu__link
    a.menu__text(href="http://") Contact us
    